



/*
FORM CSS
*/

.form-header{
    text-align: center;
}


.center-form{
    height: 100%;
    margin-top: 50%;
}


.shop-formField{
    border: solid 1px;
    padding: 5%;
    border-radius: .25em;
    margin: 5%;
}

.control-label{
}


.card-container{
    -webkit-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.26);
    -moz-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.26);
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.26);
    padding: .5em;
    width: 24%;
    float:left;
    margin: 1%;
 }

.card-image{
    border: none;
    max-width: 75%;
    margin-left: 12.5%;
}


.owner-emphasis{
    font-weight: bold;
    font-size: 1.5em;
}

.small-product-box{
    border: solid 1px #eee;
    padding-bottom:1.5em;
    border-radius: .5em;
    background: #eee;
    margin-right: .5em;
}

.tiny-product-img{
    max-width: 70%;
    margin-top: 1.5em;
    margin-left: 15%;
       background: inherit;
    border: none;
}

.emptyResults-box{
    margin-top: 20%;
}


.emptyResultsTextHeading{
    text-align: center;
}

.alert-danger{
    text-align:center;
}

.resultsSearchValue{
    margin-left: 1em;
    font-size: 1.5em;
    width: 60%;
}

.job-nav{
    background: #eee;
    border: none;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #007faf;
    font-weight:bold;
}

.searchBox{
    border: none;
    border-radius: 0;
    background-color: inherit;
    padding: 1%;
    border-bottom: solid 2px #007faf;
    text-indent: 1.9em;
}
.none{
    display: none;
}

.productDetails-container{
    border: solid 1px #eee;
    background: #f7f7f7;
    padding: 1em;
    margin: 1em;
}