{% extends 'shop/base.html' %}

{% block title %}All Products{% endblock %}

{% block main-content %}

    {% if product_list%}
    {% for product in product_list %}
            <div class="col-sm-4 col-md-4 col-lg-4 productDetails-container">
                <!--Album Image-->
                <h3>{{ product.product_name }}</h3>
                <div class="thumbnail">
                    <!--the .url ensures that whatever is being outputted from the FileField is in the form of an actual URL-->
                   <img src="{{ product.product_image.url }}" class="img-responsive">
                </div>
                    <p>{{ product.created }}</p>
                    <h4 style="text-align:right;">{{ product.price_format }}</h4>
                        <a href="{% url 'shop:product-details' product.id %}"><button type="button" class="btn btn-default pull-right">View Product</button></a>
                    <hr>
                    <h2>Seller: {{ product.business.name }}</h2>

            </div>
    {% endfor %}
    {% else %}
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 emptyResults-box">
        <h4 class="emptyResultsTextHeading">Doesn't Look like theres any products here! Looks like our sellers need to start adding some..</h4>
    </div>
    {% endif %}
{% endblock %}
