<!--Make sure this html file extends the base.html file template-->
{% extends 'shop/base.html' %}
{% block title %}Shop Details{% endblock%}


{% block main-content %}

    <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
        <div class="row">
            <h3>{{ shop.name }}</h3>
            <p class="owner-emphasis">{{ shop.owner }}</p>
        </div>
        <div class="row">
        <h3>Products Available</h3>

            {% for product in shop.products.all %}
                <div class="col-sm-4 col-md-2 col-lg-2 col-sm-2 col-md-2 col-lg-2 small-product-box">
                        <img class="thumbnail tiny-product-img" src="{{ product.product_image.url }}"/>
                        <h5>Product Name:{{ product.product_name }}</h5>
                        <p>Description: {{ product.product_desc|slice:":35" }}</p>
                        <p>Price: {{ product.price_format }}</p>
                        <a href="{% url 'shop:product-details' product.id %}"><button type="button" class="btn btn-default">View Product</button></a>
                </div>
            {% endfor %}

{% endblock %}
