{% extends 'shop/base.html' %}

{% block title %}All Products{% endblock %}

{% block main-content %}
    <div class="container-fluid">
    {% for shop in shop_list %}
            <div class="col-sm-12 col-md-2 col-lg-2 album-det-container">
                <!--Album Image-->
                <div class="thumbnail">
                    <!--the .url ensures that whatever is being outputted from the FileField is in the form of an actual URL-->
                    <img src="{{ shop.shoplogo_or_default }}" class="img-responsive">
                </div>
                <div class="caption">
                    <h1>Shop Owner:</h1>
                    <h3>{{ shop.owner }}</h3>
                </div>

                <a href="{% url 'shop:detail' shop.id %}"><button type="button" class="btn btn-default">View Details</button></a>
            </div>
    {% endfor %}
    </div>
{% endblock %}
