{% extends 'shop/base.html' %}
{% block title %}Search results: {{ request.GET.search }}{% endblock %}

{% block main-content %}
    {% if search_list %}
    <p class="alert alert-success resultsSearchValue">You searched for: {{ request.GET.search }}</p>
    {% for search in search_list %}
        <div class="container-fluid">
            <div class="col-sm-4 col-md-4 col-lg-4 album-det-container">
                <!--Album Image-->
                <div class="thumbnail">
                    <!--the .url ensures that whatever is being outputted from the FileField is in the form of an actual URL-->
                   <img src="{{ search.product_image.url }}" class="img-responsive">
                </div>
                <div class="caption">
                    <h1>Product Name</h1>
                    <h3>{{ search.product_name }}</h3>
                </div>

                <a href="{% url 'shop:product-details' search.id %}"><button type="button" class="btn btn-default">View Details</button></a>
            </div>
    {% endfor %}
    {% else %}
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 emptyResults-box">
            <h4 class="emptyResultsTextHeading">No results found matching your input.. maybe try something else?</h4>
        </div>


        </div>
    {% endif %}
{% endblock %}
